<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Sass-View</title>
</head>

<body>
<div class="all">
    <div class="header">
        <div class="header-mark">title</div>
        <div class="header-mark">logout</div>
    </div>
    <div class="body">
        <div class="sidebar">
          <span>one</span>
          <span>two</span>
          <span>three</span>
        </div>
        <div class="content">
          <div class="content-main"></div>
          <div class="content-main"></div>
        </div>
    </div>
</div>

</body>

</html>